<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

	<display-name>CORS demo</display-name>
	
	<description>Simple CORS demo</description>
	
	<servlet>
		<!-- Some servlet -->
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>com.thetransactioncompany.cors.demo.HelloWorldServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<!-- Some servlet mapping -->
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/cors-resource.html</url-pattern>
	</servlet-mapping>

	<!-- Logging (JUL) configurator, pipes messages to stderr
	<listener>
		<listener-class>com.thetransactioncompany.cors.demo.LoggingConfigurator</listener-class>
	</listener>-->
	
	<filter>
		<!-- The CORS filter with parameters -->
		<filter-name>CORS</filter-name>
		<filter-class>com.thetransactioncompany.cors.autoreconf.AutoReconfigurableCORSFilter</filter-class>

		<init-param>
			<param-name>cors.configurationFile</param-name>
			<param-value>/WEB-INF/cors.properties</param-value>
		</init-param>

	</filter>

	<filter-mapping>
		<!-- CORS Filter mapping -->
		<filter-name>CORS</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
